#{extends 'main.html' /}
#{set title:'Current' /}

<div id="current" class="col_12">
    <div id="player1" class="content col_5">
        <h2>${player1.name}</h2>
        <ul>
            <li>First: ${player1.getFirstWeight().kg}kg</li>
            <li>Last: ${player1.getLastWeight().kg}kg</li>
            <li 
            #{if p1Change < 0}
            class="notice success"
            #{/if}
            #{elseif p1Change == 0}
            class="notice warning"
            #{/elseif}
            #{else}
            class="notice error"
            #{/else}
            >
                Change: ${p1Change}kg
            </li>
        </ul>
    </div>
</div>
